<!DOCTYPE html>
<html lang="en" ng-app="bookApp">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="asset/PagePetal.png">
    <title>PagePetal Store</title>
    <link rel="stylesheet" type="text/css" href="trolley.css">
    <script src="https://kit.fontawesome.com/8f441d49ca.js" crossorigin="anonymous"></script>
</head>

<body ng-controller="TrolleyController" ng-init="trolleyItems = bookData">
    
    <header class="sticky">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand " href="landing.html">PagePetal Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ng-click="toggleMenu()"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="home.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="ourBooks.html">Our Books</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="search.html">Search</a>
                            </li>
                            <li class="button ">
                                <a href="trolley.html" class="btn"><img src="asset/shopp.png" alt="logo"></a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="items" id="items">
        <div id="trolleyItems">
            <div class="container mt-4 rounded">
                <h2>Your Shopping Trolley</h2>
                <table id="trolleyTable" class="table">
                    <thead>
                      <tr >
                        <th class="p-2">Title</th>
                        <th class="p-2">Price</th>
                        <th class="p-2">Quantity</th>
                        <th class="p-2">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Trolley items will be added here dynamically -->
                      <tr ng-repeat="item in trolleyItems">
                          <td>{{item.title}}</td>
                          <td>${{item.price}}</td>
                          <td>{{item.quantity}}</td>
                          <td><button class="btn btn-danger" ng-click="removeFromTrolley($index)">Remove</button></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td colspan="3" class="text-end">Total Price:</td>
                          <td>${{totalPrice}}</td>
                      </tr>
                    </tfoot>
                  </table>
                <div class="text-end mt-3">
                    <button id="payButton" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">PAY</button>
                  </div>
              </div>

        <!-- <div class="cart-items" id="trolleyItems">
             Trolley items will be displayed here 
            <div ng-repeat="(index, item) in trolleyItems">
                <span>{{item.title}} - Quantity: {{item.quantity}} - Price: ${{item.price}}</span>
                <span class="remove-item" ng-click="removeFromTrolley(index)">Remove</span>
            </div>
        </div>
        <div class="total-price">
            Total Price: $<span>{{totalPrice}}</span>
        </div> -->
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="trolley.js"></script>
    <script src="BookAPI.js"></script>
</body>

</html>
